.DS_Store
.*
webots/controllers/flock_controller/build/*
webots/controllers/flock_controller/flock_controller
webots/controllers/flock_controller/flock_controller.o
webots/controllers/flock_controller/flock_controller.d
!/.gitignore
